<div class="beatmapCard flex">
    <div class="left flex align-center justify-center">
        <img class="listImage" src="https://assets.ppy.sh/beatmaps/<%= beatmap.beatmapset.id %>/covers/list.jpg"
            onError="this.onerror=null; this.src='/default-cover.png';">
        <button class="playPause btn"
            onClick="audioButtonClick(event, `https://b.ppy.sh/preview/<%= beatmap.beatmapset.id %>.mp3`)">
            <span class="icon filled">play_arrow</span>
        </button>
    </div>
    <div class="right flex-grow flex">
        <div class="content flex col gap-8 flex-grow justify-center">
            <img class="coverImage" src="https://assets.ppy.sh/beatmaps/<%= beatmap.beatmapset.id %>/covers/cover.jpg"
                onError="this.onerror=null; this.src='/default-cover.png';">
            <div class="coverDimming"></div>
            <div class="text">
                <div class="title" title="<%= beatmap.beatmapset.title %>"><%= beatmap.beatmapset.title %></div>
                <div class="artist" title="<%= beatmap.beatmapset.artist %>"><%= beatmap.beatmapset.artist %></div>
                <div class="mapper">Mapped by <%= beatmap.beatmapset.mapper %></div>
            </div>
            <div class="flex gap-4 align-center">
                <div class="beatmapStatus <%= beatmap.status %>"><%= beatmap.status.toUpperCase() %></div>
                <div class="diff flex-grow" style="background: <%= beatmap.difficulty_color %>">
                    <div class="diffDimming"></div>
                    <div class="content flex gap-4 align-center">
                        <span class="beatmapStars"
                            style="background: <%= beatmap.difficulty_color %>; color: <%= beatmap.stars < 6.8 ? 'black' : 'hsl(40, 100%, 70%)' %>">
                            <span class="icon">star</span>
                            <span class="value"><%= beatmap.stars.toFixed(2) %></span>
                        </span>
                        <img src="/assets/ruleset-icons/<%= beatmap.mode %>.svg" class="ruleset">
                        <span class="name" title="<%= beatmap.name %>"><%= beatmap.name %></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="buttons flex col justify-evenly align-center flex-no-shrink">
            <a href="osu://b/<%= beatmap.id %>" class="btn square text" target="_blank"
                title="Open beatmap in osu!direct">
                <div class="icon">rocket_launch</div>
            </a>
            <a href="https://osu.ppy.sh/beatmapsets/<%= beatmap.mapset_id %>#<%= beatmap.mode %>/<%= beatmap.id %>"
                class="btn square text" target="_blank" title="Open beatmap on osu! website">
                <div class="icon">open_in_new</div>
            </a>
        </div>
    </div>
</div>