<div class="beatmap">
    <div class="details">
        <div class="map">
            <div class="set">
                <span class="title"><%= beatmap.beatmapset.title %></span> <span class="artist">by
                    <%= beatmap.beatmapset.artist %></span>
            </div>
            <div class="diff">
                <img src="/assets/ruleset-icons/<%= beatmap.mode %>.svg" class="ruleset">
                <span class="status <%= beatmap.status %>"><%= beatmap.status.toUpperCase() %></span>
                <span class="stars"
                    style="background: <%= beatmap.difficulty_color %>; color: <%= beatmap.stars < 6.8 ? 'black' : 'hsl(40, 100%, 70%)' %>">
                    <span class="icon">star</span><span class="value"><%= beatmap.stars.toFixed(2) %></span>
                </span>
                <span class="name"
                    style=" color: <%= beatmap.stars < 6.8 ? beatmap.difficulty_color : 'hsl(40, 100%, 70%)' %>"><%= beatmap.name %></span>
            </div>
        </div>
        <div class="time">
            <%= locals.time || `Ranked ${dayjs(beatmap.beatmapset.time_ranked).format('YYYY-MM-DD')}` %>
        </div>
    </div>
    <div class="buttons">
        <a href="osu://b/<%= beatmap.id %>" class="btn square text" target="_blank" title="Open beatmap in osu!direct">
            <div class="icon">rocket_launch</div>
        </a>
        <a href="https://osu.ppy.sh/beatmapsets/<%= beatmap.mapset_id %>#<%= beatmap.mode %>/<%= beatmap.id %>"
            class="btn square text" target="_blank" title="Open beatmap on osu! website">
            <div class="icon">open_in_new</div>
        </a>
    </div>
</div>