<div id="statSettings" class="flex flex-wrap justify-center">
    <div class="section mode">
        <div class="btnGroup">
            <a href="<%= category_navigation.global %>"
                class="btn <%= category.includes('global-') ? 'primary' : '' %>">Global</a>
            <a href="<%= category_navigation.osu %>"
                class="btn <%= category.includes('osu-') ? 'primary' : '' %>">osu</a>
            <a href="<%= category_navigation.taiko %>"
                class="btn <%= category.includes('taiko-') ? 'primary' : '' %>">taiko</a>
            <a href="<%= category_navigation.catch %>"
                class="btn <%= category.includes('catch-') ? 'primary' : '' %>">catch</a>
            <a href="<%= category_navigation.mania %>"
                class="btn <%= category.includes('mania-') ? 'primary' : '' %>">mania</a>
        </div>
    </div>
    <% if (category.includes('mania-')) { %>
    <div class="section">
        <div class="btnGroup">
            <a href="<%= category_navigation.mania %>" class="btn <%= !category.match(/\dk$/) ? 'primary' : '' %>">
                <span class="icon filled">piano</span>
                <span class="label">All</span>
            </a>
            <a href="<%= category_navigation.mania4k %>"
                class="btn <%= category.includes('-4k') ? 'primary' : '' %>">4K</a>
            <a href="<%= category_navigation.mania5k %>"
                class="btn <%= category.includes('-5k') ? 'primary' : '' %>">5K</a>
            <a href="<%= category_navigation.mania6k %>"
                class="btn <%= category.includes('-6k') ? 'primary' : '' %>">6K</a>
            <a href="<%= category_navigation.mania7k %>"
                class="btn <%= category.includes('-7k') ? 'primary' : '' %>">7K</a>
        </div>
    </div>
    <% } %>
    <div class="section flex gap-8 flex-wrap">
        <a href="<%= category_navigation.toggleLoved %>" class="btn <%= category.includes('loved') ? 'primary' : '' %>">
            <span class="icon <%= category.includes('loved') ? 'filled' : '' %>">favorite</span>
            Include loved
        </a>
        <% if (!category.includes('osu-')) { %>
        <a href="<%= category_navigation.toggleConverts %>"
            class="btn <%= category.includes('converts') ? 'primary' : '' %>">
            <span class="icon <%= category.includes('converts') ? 'filled' : '' %>">swap_horizontal_circle</span>
            Include converts
        </a>
        <% } %>
    </div>
</div>