<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.tabTitle ? `${tabTitle} - ` : '' %>osu!complete</title>
    <meta name="description" content="<%= locals.description || '' %>">
    <meta property="og:site_name" content="osu!complete">
    <meta property="og:title" content="<%= locals.title || 'osu! completionist tracker and leaderboard' %>">
    <meta property="og:description" content="<%= locals.description || '' %>">
    <meta property="og:image" content="<%= locals.image || '' %>">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="<%= locals.image || '' %>">
    <meta name="theme-color" content="#6EF79C">
    <link rel="icon" type="image/png" href="/icon.png">
    <link rel="stylesheet" href="/index.css">
    <script src="/index.js" defer></script>
</head>

<body data-page="<%= page %>">
    <div id="topbar">
        <div class="container">
            <div id="logo">
                <span class="white">osu!</span><span class="green">complete</span>
            </div>
            <div class="buttons">
                <a class="btn <%= page == 'leaderboard' ? 'text bright' : 'text muted' %>"
                    href="/leaderboard">leaderboard</a>
                <!-- <a class="btn <%= page == 'search' ? 'text bright' : 'text muted' %>" href="/search">search</a> -->
            </div>
        </div>
    </div>
    <div id="main">
        <%- include('pages/' + page) %>
        <div id="footer">
            <p>
                &copy; <a href="https://kaysting.dev">Kayla Kersting</a> 2025 &bullet; <a
                    href="https://github.com/kaysting/osu-completion" target="_blank" rel="noopener noreferrer">source
                    code on GitHub</a>
            </p>
        </div>
    </div>
</body>

</html>