<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= `${locals.title ? locals.title + ' - ' : ''}` %>osu!complete</title>
    <meta name="description" content="<%= locals?.meta?.description || '' %>">
    <meta property="og:site_name" content="osu!complete">
    <meta property="og:title" content="<%= locals?.meta?.title || 'osu! completionist tracker and leaderboard' %>">
    <meta property="og:description"
        content="<%= locals?.meta?.description || 'Track your osu! completionist progress across all game modes, ranked, loved, and convert maps, and compare your progress with others!' %>">
    <meta property="og:image"
        content="<%= locals?.meta?.image || locals?.meta?.thumbnail || '/assets/images/promo.png?v=1' %>">
    <meta name="twitter:image"
        content="<%= locals?.meta?.image || locals?.meta?.thumbnail || '/assets/images/promo.png?v=1' %>">
    <% if (!locals?.meta?.thumbnail) { %>
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="628" />
    <meta name="twitter:card" content="summary_large_image">
    <% } %>
    <meta name="theme-color" content="#6EF79C">
    <link rel="icon" type="image/png" href="/assets/images/icon.png">
    <link rel="stylesheet" href="/assets/css/index.css">
    <script src="/assets/js/index.js"></script>
    <script src="/assets/js/triangles-bg.js"></script>
</head>

<body data-page="<%= page %>">
    <canvas id="bgCanvas"></canvas>
    <div id="topbar">
        <div class="container">
            <div class="top">
                <button class="btn text square" id="navToggleMenu">
                    <span class="icon filled"></span>
                </button>
                <a id="logo" href="/" class="btn text">
                    <div class="text">
                        <span class="white">osu!</span><span class="green">complete</span>
                    </div>
                </a>
            </div>
            <div class="left">
                <a id="navSearch" class="btn <%= page == 'search' ? 'text bright' : 'text muted' %>" href="/search"
                    title="Search tracked players">
                    <span class="icon filled">search</span>
                    <span class="label">search</span>
                </a>
                <a id="navLeaderboard" class="btn <%= page == 'leaderboard' ? 'text bright' : 'text muted' %>"
                    href="/leaderboard" title="View top completionists">
                    <span class="icon filled">leaderboard</span>
                    <span class="label">leaderboard</span>
                </a>
                <a id="navQueue" class="btn <%= page == 'queue' ? 'text bright' : 'text muted' %>" href="/queue"
                    title="View top completionists">
                    <span class="icon filled">autorenew</span>
                    <span class="label">queue</span>
                </a>
                <% if (me) { %>
                <a id="navRecommended" class="btn <%= page == 'recommended' ? 'text bright' : 'text muted' %>"
                    href="/recommended" title="View and filter maps you should complete next">
                    <span class="icon filled">cards_star</span>
                    <span class="label">play next</span>
                </a>
                <% } %>
                <a id="navDiscord" class="btn text muted" href="https://discord.gg/fNSnMG7S3C" target="_blank"
                    title="Join the Discord server to stay up to date with osu!complete development!">
                    <span class="icon filled">chat</span>
                    <span class="label">discord</span>
                </a>
            </div>
            <div class="right">
                <% if (!me) { %>
                <a id="navLogin" class="btn text muted" href="/auth/login">
                    <span class="icon filled">person</span>
                    <span class="label">sign in</span>
                </a>
                <% } else { %>
                <a id="navProfile" class="btn text dynamic" href="/u/<%= me.id %>" title="View your profile">
                    <img src="<%= me.avatar_url %>" class="icon" style="width: 32px; height: 32px;">
                    <span><%= me.name %></span>
                </a>
                <a id="navLogout" href="/auth/logout" class="btn text danger" title="Sign out">
                    <span class="icon filled">logout</span>
                </a>
                <% } %>
            </div>
        </div>
    </div>
    <script>
        const topbar = document.getElementById('topbar');
        const btnToggleMenu = document.getElementById('navToggleMenu');
        // Handle topbar scrolled state
        document.addEventListener('scroll', () => {
            if (window.scrollY > 20) {
                topbar.classList.add('scrolled');
            } else {
                topbar.classList.remove('scrolled');
            }
        });
        // Handle topbar overflowing state
        const topbarResizeObserver = new ResizeObserver(() => {
            topbar.classList.remove('overflowing');
            if (topbar.scrollWidth > topbar.clientWidth) {
                topbar.classList.add('overflowing');
            } else {
                topbar.classList.remove('open');
                topbar.style.height = '';
            }
        });
        topbarResizeObserver.observe(topbar);
        // Handle menu toggling
        btnToggleMenu.addEventListener('click', () => {
            if (topbar.classList.contains('open')) {
                topbar.classList.remove('open');
                topbar.style.height = '';
            } else {
                topbar.classList.add('open');
                topbar.style.height = 'auto';
            }
        });
    </script>
    <div id="main">
        <%- include('pages/' + page) %>
        <div id="footer">
            <p>
                &copy; <a href="https://kaysting.dev">Kayla Kersting</a> 2025 &bullet; <a
                    href="https://github.com/kaysting/osu-completion" target="_blank" rel="noopener noreferrer">source
                    code on GitHub</a>
            </p>
        </div>
    </div>
</body>

</html>