<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.title ? `${title} - ` : '' %>osu!completion</title>
    <meta name="description" content="<%= locals.description || '' %>">
    <meta property="og:site_name" content="osu!completion">
    <meta property="og:title" content="<%= locals.title || 'osu! completionist tracker and leaderboard' %>">
    <meta property="og:description"
        content="<%= locals.description || 'Track your osu! completion progress by mode, optionally choosing to include loved and converted maps, and compare your stats with others!' %>">
    <meta property="og:image" content="<%= locals.image || '' %>">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="<%= locals.image || '' %>">
    <meta name="theme-color" content="#6EF79C">
    <link rel="icon" type="image/png" href="/icon.png">
    <link rel="stylesheet" href="/index.css">
    <script src="/index.js" defer></script>
</head>

<body data-page="<%= page %>">
    <div id="topbar">
        <div class="container">
            <div id="logo">
                <span class="white">osu!</span><span class="green">completion</span>
            </div>
            <div class="buttons">
                <a href="/leaderboard">leaderboard</a>
                <a href="/queue">queue</a>
            </div>
        </div>
    </div>
    <div id="main">
        <%- include('pages/' + page) %>
        <div id="footer">
            <p>
                osu!completion &copy; <a href="https://kaysting.dev">Kayla Kersting</a> 2025
                <br>
                <a href="https://github.com/kaysting/osu-completion" target="_blank" rel="noopener noreferrer">Check out
                    this project on GitHub</a>
            </p>
        </div>
    </div>
</body>

</html>