<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Render</title>
    <link rel="stylesheet" href="/assets/css/theme.css">
    <link rel="stylesheet" href="/assets/css/utils.css">
    <link rel="stylesheet" href="/assets/css/render-embeds.css">
</head>

<body>
    <div id="card" class="flex col gap-24 rounded-16">
        <div id="header" class="flex row gap-16 align-center">
            <span class="title flex-grow flex-no-shrink">Category Completion</span>
            <span class="category overflow-hidden nowrap text-ellipsis"><%= categoryName %></span>
        </div>
        <div class="flex col gap-16">
            <div id="bar" class="flex gap-32 justify-center">
                <div class="filling"
                    style="width: <%= stats.percentage_completed %>%; background: <%= stats.percentage_completed_color %>">
                </div>
                <div class="stat big">
                    <span class="value"><%= stats.percentage_completed.toFixed(2) %>% complete</span>
                </div>
            </div>
            <div class="flex gap-32 align-center justify-center">
                <div class="flex gap-24">
                    <div class="stat">
                        <span class="key">maps passed</span>
                        <span class="value"><%= stats.count_completed.toLocaleString() %> /
                            <%= stats.count_total.toLocaleString() %></span>
                    </div>
                </div>
                <div class="sep"></div>
                <div class="flex gap-24">
                    <div class="stat">
                        <span class="key">nomod playtime</span>
                        <span class="value"><%= Math.round(stats.secs_spent / 60 / 60).toLocaleString() %> /
                            <%= Math.round(stats.secs_total / 60 / 60).toLocaleString() %> hours</span>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer" class="flex row gap-16 align-end">
            <span class="user flex gap-12 align-center flex-grow">
                <img src="<%= user.avatar_url %>" class="avatar rounded-8">
                <div class="flex col gap-4">
                    <div class="flex row gap-8 align-center">
                        <span class="name"><%= user.name %></span>
                        <img src="<%= user.country.flag_url %>" class="flag country">
                        <img src="<%= user.team.flag_url %>" class="flag team">
                    </div>
                    <span class="rankCont">Category rank <span
                            class="rank">#<%= stats.rank == 0 ? '-' : stats.rank %></span></span>
                </div>
            </span>
            <div class="flex col gap-2 text-right">
                <span class="timestamp"><%= dayjs().utc().format('YYYY-MM-DD HH:mm:ss [UTC]') %></span>
                <span>Powered by osucomplete.org</span>
            </div>
        </div>
    </div>
    <style>
        #bar {
            position: relative;
            padding: 16px;
            background: var(--c-base-12);
            border-radius: 100px;
            overflow: hidden;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
            text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
            /* border: 2px solid var(--c-base-12); */
        }

        #bar .filling {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            border-radius: 16px;
            opacity: 0.5;
        }

        .sep {
            height: 32px;
            width: 2px;
            background: var(--c-base-30);
            border-radius: 2px;
        }

        .stat {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
        }

        .stat.left {
            align-items: flex-start;
        }

        .stat.right {
            align-items: flex-end;
        }

        .stat {
            gap: 1px;
        }

        .stat .key {
            font-size: 16px;
            font-weight: 600;
            color: var(--c-base-60);
        }

        .stat .value {
            font-size: 26px;
            color: var(--c-base-90);
        }

        .stat.big {
            gap: 2px;
        }

        .stat.big .key {
            font-size: 18px;
            font-weight: 600;
            color: var(--c-base-75);
        }

        .stat.big .value {
            font-size: 32px;
            font-weight: 600;
            color: white;
        }

        #footer .rankCont {
            font-size: 14px;
            color: var(--c-base-90);
            font-weight: 400;
        }
    </style>
    <%- query.base_hue ? `<style>body { --base-hue: ${parseInt(query.base_hue)}; }</style>` : '' %>
    <%- query.base_sat ? `<style>body { --base-sat: ${parseInt(query.base_sat)}%; }</style>` : '' %>
</body>

</html>