<link rel="stylesheet" href="/assets/css/home.css">
<script>
    initTriangleBackground(document.getElementById('bgCanvas'), {
        triColor: 'hsl(140, 30%, 50%)',
        bgColor1: 'hsl(220, 20%, 10%)',
        bgColor2: 'hsl(220, 20%, 10%)',
        density: 20000,
        speed: 0.25,
        strokeWidth: 2,
        maxSize: 150,
        opacity: 0.3
    });
</script>
<div id="home">
    <div class="header">
        <div class="logo">
            <span class="white">osu!</span><span class="green">complete</span>
        </div>
        <% if (me) { %>
        <div class="slogan">Welcome back, <%= me.name %>!</div>
        <% } else { %>
        <div class="slogan">A full-featured osu! completionist tracker and leaderboard</div>
        <% } %>
    </div>
    <div class="actions">
        <div class="buttons">
            <a href="/leaderboard" class="btn large">
                <span class="icon filled">leaderboard</span>
                leaderboard
            </a>
            <% if (me) { %>
            <a href="/u/<%= me.id %>" class="btn large primary">
                <span class="icon filled">person</span>
                my profile
            </a>
            <% } else { %>
            <a href="/auth/login" class="btn large primary">
                <span class="icon filled">person</span>
                sign in with osu!...
            </a>
            <% } %>
        </div>
        <span class="or">or</span>
        <form class="search" action="/search" method="GET">
            <input type="text" class="textbox medium" name="q" placeholder="search tracked players by name...">
            <button type="submit" class="btn medium primary square">
                <span class="icon filled">search</span>
            </button>
        </form>
    </div>
    <div class="stats">
        <div class="card">
            <div class="value"><%= stats.users %></div>
            <div class="label">tracked players</div>
        </div>
        <div class="card">
            <div class="value"><%= stats.passes %></div>
            <div class="label">total beatmap passes</div>
        </div>
        <div class="card">
            <div class="value"><%= stats.beatmaps %></div>
            <div class="label">unique beatmaps</div>
        </div>
    </div>
</div>