<link rel="stylesheet" href="/assets/css/leaderboard.css">
<div id="leaderboard">
    <%- include('../partials/statSettings') %>
    <div class="card">
        <%- include('../partials/pagination') %>
        <div class="entries">
            <% for (const entry of leaderboard) { %>
            <a class="entry" href="/u/<%= entry.id %>/<%= settings.modeKey %>/<%= settings.includes.join('-') %>">
                <img src="<%= entry.banner %>" class="banner">
                <div class="dimming"></div>
                <div class="bar" style="width: <%= entry.percentage %>%"></div>
                <div class="content">
                    <div class="rank"><%= `#${entry.rank}` %></div>
                    <div class="profile">
                        <img src="<%= entry.avatar %>" class="avatar">
                        <div class="text">
                            <div class="name"><%= entry.name %></div>
                            <div class="flags">
                                <div class="country" title="<%= entry.country.name %>">
                                    <img src="/assets/flags/<%= entry.country.code %>.png" class="flag">
                                    <!-- <div class="name"><%= entry.country.name %></div> -->
                                </div>
                                <% if (entry.team.name) { %>
                                <div class="team" title="<%= entry.team.name %>">
                                    <img src="<%= entry.team.flag %>" class="flag">
                                    <!-- <div class="name"><%= entry.team.name %></div> -->
                                </div>
                                <% } %>
                            </div>
                        </div>
                        <div class="stats">
                            <div class="stat">
                                <div class="name">% completed</div>
                                <div class="value"><%= entry.percentage %>%</div>
                            </div>
                            <div class="stat">
                                <div class="name">maps completed</div>
                                <div class="value"><%= entry.completed.toLocaleString() %></div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <% } %>
        </div>
        <%- include('../partials/pagination') %>
    </div>
</div>