<link rel="stylesheet" href="/assets/css/leaderboard.css">
<div id="leaderboard">
    <%- include('../partials/statSettings') %>
    <div class="card">
        <%- include('../partials/pagination') %>
        <div class="entries">
            <% for (const entry of leaderboard) { %>
            <a class="entry" href="/u/<%= entry.user.id %>/<%= settings.modeKey %>/<%= settings.includes.join('-') %>">
                <img src="<%= entry.user.banner_url %>" class="banner">
                <div class="dimming"></div>
                <div class="bar" style="width: <%= entry.stats.percentage_completed %>%"></div>
                <div class="content">
                    <div class="rank"><%= `#${entry.stats.rank}` %></div>
                    <div class="profile">
                        <img src="<%= entry.user.avatar_url %>" class="avatar">
                        <div class="text">
                            <div class="name"><%= entry.user.name %></div>
                            <div class="flags">
                                <div class="country" title="<%= entry.user.country.name %>">
                                    <img src="<%= entry.user.country.flag_url %>" class="flag">
                                </div>
                                <% if (entry.user.team.name) { %>
                                <div class="team" title="<%= entry.user.team.name %>">
                                    <img src="<%= entry.user.team.flag_url %>" class="flag">
                                </div>
                                <% } %>
                            </div>
                        </div>
                        <div class="stats">
                            <div class="stat">
                                <div class="name">% completed</div>
                                <div class="value"><%= entry.stats.percentage_completed.toFixed(2) %>%</div>
                            </div>
                            <div class="stat">
                                <div class="name">maps completed</div>
                                <div class="value"><%= entry.stats.count_completed.toLocaleString() %></div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <% } %>
        </div>
        <%- include('../partials/pagination') %>
    </div>
</div>