<div id="leaderboard">
    <%- include('../partials/statSettings') %>
    <div class="card">
        <%- include('../partials/pagination') %>
        <div class="entries">
            <% for (const entry of leaderboard) { %>
            <div class="entry">
                <div class="bg" style="width: <%= entry.percentage %>%"></div>
                <div class="content">
                    <div class="rank"><%= `#${entry.rank}` %></div>
                    <div class="profile">
                        <img src="<%= entry.avatar %>" class="avatar">
                        <a class="name"
                            href="/u/<%= entry.id %>/<%= settings.modeKey %>/<%= settings.includes.join('-') %>"><%= entry.name %></a>
                        <div class="stats">
                            <div class="stat">
                                <div class="name">% completed</div>
                                <div class="value"><%= entry.percentage %>%</div>
                            </div>
                            <div class="stat">
                                <div class="name">maps completed</div>
                                <div class="value"><%= entry.completed.toLocaleString() %></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
        </div>
        <%- include('../partials/pagination') %>
    </div>
</div>