<link rel="stylesheet" href="/assets/css/profile.css">
<div id="profile" class="flex col gap-16">
    <%- include('../partials/statSettings') %>
    <%- include('../partials/profileImportProgressCard', { updateStatus }) %>
    <div id="profileContent" class="card flex col gap-8">
        <div class="banner relative rounded-8 w-full" style="background-image: url('<%= user.banner_url %>')">
            <div class="buttons absolute flex row-rev gap-8 flex-wrap">
                <a class="btn translucent square" href="https://osu.ppy.sh/users/<%= user.id %>" target="_blank"
                    title="View profile on osu! website">
                    <span class="icon">open_in_new</span>
                </a>
                <button class="btn translucent" onClick="copyText(`<%= copyable %>`)">
                    <span class="icon">content_copy</span>
                    <span>copy stats</span>
                </button>
            </div>
        </div>
        <div class="basics overflow-hidden flex gap-16 align-center">
            <img src="<%= user.avatar_url %>" class="avatar rounded-24">
            <div class="text overflow-hidden text-ellipsis nowrap flex col gap-4 flex-grow">
                <div class="name overflow-hidden text-ellipsis nowrap"><%= user.name %></div>
                <div class="flags flex flex-wrap align-center">
                    <div class="country flex gap-4 align-center">
                        <img src="<%= user.country.flag_url %>" class="flag rounded-4">
                        <span class="label"><%= user.country.name %></span>
                    </div>
                    <% if (user.team.id) { %>
                    <div class="team flex gap-4 align-center">
                        <img src="<%= user.team.flag_url %>" class="flag rounded-4">
                        <span class="label"><%= user.team.name %></span>
                    </div>
                    <% } %>
                </div>
            </div>
            <%- include('../partials/profileBasicStats', { stats }) %>
        </div>
        <%- include('../partials/profileCompletionProgressCard', { user, stats, historyDaily, yearly, yearlyType, updateStatus }) %>
        <% if (recommended) { %>
        <%- include('../partials/profilePlayNextCard', { recommended, recommendedQuery, category }) %>
        <% } %>
        <%- include('../partials/profileRecentPassesCard', { recentPasses }) %>
    </div>
</div>