<link rel="stylesheet" href="/assets/css/profile.css">
<div id="profile" class="flex col gap-16">
    <%- include('../partials/statSettings') %>
    <% if (user.updateStatus.updating) { %>
    <div class="card warning flex align-center gap-8">
        <div class="icon"><%= user.updateStatus.details.time_started ? 'update' : 'hourglass' %></div>
        <div class="text">
            <% if (user.updateStatus.details.time_started) { %>
            <p>
                <b>Importing completion data from osu!</b>
                <br><%= Math.floor(user.updateStatus.details.percent_completed) %>% complete,
                about <%= user.updateStatus.details.time_remaining %> remaining. Discovered
                <%= user.updateStatus.details.count_passes_imported.toLocaleString() %> passes so far.
            </p>
            <% } else { %>
            <p>
                <b>Queued for import (<%= user.updateStatus.details.position_ordinal %> in line)</b>
                <br>This profile is pending import from osu! and we expect to have it done in about
                <%= user.updateStatus.details.time_remaining %>. Stay tuned!
            </p>
            <% } %>
        </div>
    </div>
    <% } %>
    <div class="card flex col gap-8">
        <div class="banner relative rounded-8 w-full" style="background-image: url('<%= user.banner_url %>')">
            <div class="buttons absolute flex row-rev gap-8 flex-wrap">
                <a class="btn translucent square" href="https://osu.ppy.sh/users/<%= user.id %>" target="_blank"
                    title="View profile on osu! website">
                    <span class="icon">open_in_new</span>
                </a>
                <button class="btn translucent" onClick="copyText(`<%= copyable %>`)">
                    <span class="icon">content_copy</span>
                    <span>copy stats</span>
                </button>
            </div>
        </div>
        <div class="basics overflow-hidden flex gap-16 align-center">
            <img src="<%= user.avatar_url %>" class="avatar rounded-24">
            <div class="text overflow-hidden text-ellipsis nowrap flex col gap-4 flex-grow">
                <div class="name overflow-hidden text-ellipsis nowrap"><%= user.name %></div>
                <div class="flags flex flex-wrap align-center">
                    <div class="country flex gap-4 align-center">
                        <img src="<%= user.country.flag_url %>" class="flag rounded-4">
                        <span class="label"><%= user.country.name %></span>
                    </div>
                    <% if (user.team.id) { %>
                    <div class="team flex gap-4 align-center">
                        <img src="<%= user.team.flag_url %>" class="flag rounded-4">
                        <span class="label"><%= user.team.name %></span>
                    </div>
                    <% } %>
                </div>
            </div>
            <div class="stats flex flex-wrap">
                <div class="stat big flex col">
                    <div class="key">global rank</div>
                    <div class="value">#<%= user.stats.rank == -1 ? '-' : user.stats.rank %></div>
                </div>
                <div class="stat big flex col">
                    <div class="key">completion xp</div>
                    <div class="value"><%= user.stats.xp.toLocaleString() %></div>
                </div>
                <div class="stat big flex col">
                    <div class="key">% completed</div>
                    <div class="value"><%= user.stats.percentage_completed.toFixed(2) %>%</div>
                </div>
            </div>
        </div>
        <div class="card lighter progress flex col gap-16">
            <div class="flex col gap-16 flex-grow">
                <div>
                    <span class="header">completion progress</span>
                </div>
                <div style="height: 100px">
                    <canvas id="progressGraph"></canvas>
                    <script>
                        window.addEventListener('load', () => {
                            // Prepare data
                            const data = JSON.parse('<%- JSON.stringify(user.historyDaily) %>');
                            const datapointNow = {
                                date: 'now',
                                percentage_completed: '<%= user.stats.percentage_completed %>'
                            };
                            data.push(datapointNow);
                            if (data.length < 2) {
                                data.push(datapointNow);
                            }
                            // Get context and create chart
                            const ctx = document.getElementById('progressGraph').getContext('2d');
                            const gradient = ctx.createLinearGradient(0, 0, 0, 100);
                            gradient.addColorStop(0, 'hsla(150, 90%, 60%, 20%)');
                            gradient.addColorStop(1, 'hsla(150, 90%, 60%, 0%)');
                            const chart = new Chart(ctx, {
                                type: 'line',
                                data: {
                                    labels: data.map(entry => entry.date),
                                    datasets: [{
                                        data: data.map(entry => entry.percentage_completed),
                                        backgroundColor: gradient,
                                        borderColor: 'hsl(150, 90%, 60%)',
                                        borderWidth: 2,
                                        pointRadius: 0,
                                        fill: true,
                                        tension: 0.3
                                    }]
                                },
                                options: {
                                    responsive: true,
                                    maintainAspectRatio: false,
                                    plugins: {
                                        legend: {
                                            display: false
                                        },
                                        tooltip: {
                                            mode: 'index',
                                            intersect: false,
                                            displayColors: false,
                                            cornerRadius: 8,
                                            padding: 8,
                                            titleMarginBottom: 2,
                                            backgroundColor: 'hsl(220, 20%, 10%)',
                                            titleFont: {
                                                size: 12,
                                                weight: 600,
                                                family: 'Torus'
                                            },
                                            bodyFont: {
                                                size: 16,
                                                weight: 'normal',
                                                family: 'Torus'
                                            },
                                            titleColor: `hsl(220, 20%, 65%)`,
                                            bodyColor: `hsl(220, 20%, 90%)`,
                                            callbacks: {
                                                label: context => `${context.parsed.y.toFixed(4)}% completed`,
                                                title: context => `${context[0].label}`
                                            }
                                        }
                                    },
                                    scales: {
                                        x: { display: false },
                                        y: { display: false }
                                    },
                                    layout: {
                                        padding: 0
                                    }
                                }
                            });
                        });
                    </script>
                </div>
                <div id="progressStatsRow" class="flex gap-16">
                    <div class="stats flex-grow flex flex-wrap">
                        <div class="stat flex col gap-2">
                            <div class="key">maps completed</div>
                            <div class="value"><%= user.stats.count_completed.toLocaleString() %></div>
                        </div>
                        <div class="stat flex col gap-2">
                            <div class="key">maps remaining</div>
                            <div class="value">
                                <%= (user.stats.count_total - user.stats.count_completed).toLocaleString() %>
                            </div>
                        </div>
                        <div class="stat flex col gap-2">
                            <div class="key">cxp remaining</div>
                            <div class="value"><%= user.stats.xp_remaining.toLocaleString() %></div>
                        </div>
                        <div class="stat flex col gap-2">
                            <div class="key">nomod playtime remaining</div>
                            <div class="value"><%= user.stats.timeRemaining %></div>
                        </div>
                    </div>
                    <div id="categoryStatsHeader">
                        <span class="header">category totals</span>
                    </div>
                    <div class="stats flex flex-wrap">
                        <div class="stat flex col gap-2">
                            <div class="key">total maps</div>
                            <div class="value"><%= user.stats.count_total.toLocaleString() %></div>
                        </div>
                        <div class="stat flex col gap-2">
                            <div class="key">total obtainable cxp</div>
                            <div class="value"><%= user.stats.xp_total.toLocaleString() %></div>
                        </div>
                        <div class="stat flex col gap-2">
                            <div class="key">total nomod playtime</div>
                            <div class="value"><%= user.stats.timeTotal %></div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <span class="header">completion by year</span>
            </div>
            <div class="flex col gap-8">
                <div class="btnGroup">
                    <a href="/u/<%= user.id %>/<%= category %>?yearly_type=maps"
                        class="btn <%= user.yearlyType == 'maps' ? 'primary' : '' %> small">
                        <span class="label">map count</span>
                    </a>
                    <a href="/u/<%= user.id %>/<%= category %>?yearly_type=xp"
                        class="btn <%= user.yearlyType == 'xp' ? 'primary' : '' %> small">
                        <span class="label">cxp</span>
                    </a>
                </div>
                <div class="yearlyStatsContainer">
                    <% for (const yearData of user.yearly) { %>
                    <%- include('../partials/statsYearEntryLine', { ...yearData, yearlyType: user.yearlyType }) %>
                    <% } %>
                </div>
            </div>
            <% if (user.isMe) { %>
            <div>
                <button id="inaccurateStatsHelp" class="btn text accent small">
                    <span class="label">help, my stats seem inaccurate...</span>
                </button>
                <script>
                    document.getElementById('inaccurateStatsHelp').addEventListener('click', async () => {
                        const hasFullImport = '<%= user.has_full_import %>';
                        const isImporting = '<%= user.updateStatus.updating %>';
                        if (isImporting === 'true') {
                            return showPopup(
                                'Import in progress',
                                `
                                    <p>Your completion stats are currently being imported from osu!, so they might seem incomplete until the import is done. Check back when it's finished to see if everything looks right.</p>
                                `,
                                [
                                    {
                                        label: 'Okay', class: 'primary'
                                    }
                                ]
                            );
                        } else if (hasFullImport === 'true') {
                            return showPopup(
                                'Hmm...',
                                `
                                    <p>We've already fully imported your completion stats, so importing again is unlikely to fix anything.</p>
                                    <p>If you think you're still missing passes or your stats are inaccurate, please join the Discord server and let Kayla know so we can investigate further.</p>
                                `,
                                [
                                    {
                                        label: 'Join Discord server',
                                        href: '/discord',
                                        newTab: true
                                    },
                                    {
                                        label: 'Okay', class: 'primary'
                                    }
                                ]
                            );
                        } else {
                            showPopup(
                                `Let's do a full import`,
                                `
                                    <p>When we initially imported your completion data, we used your <b>most played maps</b> to determine what maps we should check for passes. While this is accurate for the vast majority of casual completionists, you may find that you're missing some passes if you've been playing osu! for a long time or have passed lots of maps.</p>
                                    <p>Click the button below to start a <b>full import</b> for your account, where we'll check every single map to make sure we've saved all of your passes. This can help to catch those that might have been missed by checking your most played, but <b>it'll take a few hours and can only be done once</b>.</p>
                                    <p>Your stats won't update while the import is in progress but new passes will be saved in the background.</p>
                                `,
                                [
                                    {
                                        label: 'Nevermind'
                                    },
                                    {
                                        label: `Start full import`,
                                        class: 'primary',
                                        href: '/u/<%= user.id %>/reimport',
                                    }
                                ]
                            );
                        }
                    });
                </script>
            </div>
            <% } %>
        </div>
        <% if (user.recommended) { %>
        <div class="card lighter recommended flex col gap-16">
            <div>
                <span class="header">what to play next</span>
            </div>
            <div class="beatmapCardContainer">
                <% if (user.recommended.length === 0) { %>
                <div class="empty">
                    <p>Either no recommendations could be made or you've passed all maps in this category.</p>
                </div>
                <% } %>
                <% for (const beatmap of user.recommended) { %>
                <%- include('../partials/beatmapCard', { beatmap }) %>
                <% } %>
            </div>
            <div class="flex col gap-8">
                <div class="flex justify-center">
                    <a href="/recommended/<%= category %>?q=<%- encodeURIComponent(user.recommendedQuery) %>"
                        class="btn primary">
                        <span class="icon filled">cards_star</span>
                        <span class="label">More like this in play next...</span>
                    </a>
                </div>
                <div class="flex gap-8 justify-center flex-wrap">
                    <a href="/recommended/<%= category %>/surprise?dest=direct&q=<%- encodeURIComponent(user.recommendedQuery) %>"
                        class="btn text accent small">
                        <span class="icon filled">casino</span>
                        <span class="label">Pick for me (osu!direct)</span>
                    </a>
                    <a target="_blank"
                        href="/recommended/<%= category %>/surprise?dest=osu&q=<%- encodeURIComponent(user.recommendedQuery) %>"
                        class="btn text small">
                        <span class="icon filled">casino</span>
                        <span class="label">Pick for me (osu!web)</span>
                    </a>
                </div>
            </div>
        </div>
        <% } %>
        <div class="card lighter passes flex col gap-16">
            <div>
                <span class="header">recent passes (<%= user.recentPasses.length.toLocaleString() %>)</span>
            </div>
            <div class="beatmapNarrowContainer flex col gap-2">
                <% if (user.recentPasses.length === 0) { %>
                <div class="empty">
                    <p>No new passes in the past 24 hours (or since import)</p>
                </div>
                <% } %>
                <% for (const pass of user.recentPasses) { %>
                <%- include('../partials/beatmapNarrow', { beatmap: pass.beatmap, time: `Passed ${pass.timeSincePass}` }) %>
                <% } %>
            </div>
        </div>
    </div>
</div>