<link rel="stylesheet" href="/assets/css/profile.css">
<div id="profile">
    <%- include('../partials/statSettings') %>
    <% if (user.updateStatus.updating) { %>
    <div class="card warning">
        <div class="icon"><%= user.updateStatus.details.time_started ? 'update' : 'hourglass' %></div>
        <div class="text">
            <% if (user.updateStatus.details.time_started) { %>
            <p>
                <b>Importing completion data from osu!</b>
                <br><%= Math.floor(user.updateStatus.details.percent_completed) %>% complete,
                about <%= user.updateStatus.details.time_remaining %> remaining. Discovered
                <%= user.updateStatus.details.count_passes_imported.toLocaleString() %> passes so far.
            </p>
            <% } else { %>
            <p>
                <b>Queued for import (<%= user.updateStatus.details.position_ordinal %> in line)</b>
                <br>This profile is pending import from osu! and we expect to have it done in about
                <%= user.updateStatus.details.time_remaining %>. Stay tuned!
            </p>
            <% } %>
        </div>
    </div>
    <% } %>
    <div class="card">
        <div class="banner" style="background-image: url('<%= user.banner_url %>')">
            <div class="buttons">
                <a class="btn translucent square" href="https://osu.ppy.sh/users/<%= user.id %>" target="_blank"
                    title="View profile on osu! website">
                    <span class="icon">open_in_new</span>
                </a>
                <button class="btn translucent" onClick="copyText(`<%= copyable %>`)">
                    <span class="icon">content_copy</span>
                    <span>copy stats</span>
                </button>
                <% if (user.id == me?.id && !user.updateStatus.updating) { %>
                <button id="reimport" class="btn translucent">
                    <span class="icon">update</span>
                    <span>request re-import</span>
                </button>
                <script>
                    document.getElementById('reimport').addEventListener('click', async () => {
                        const canReimport = '<%= user.updateStatus.canReimport %>';
                        if (canReimport === 'true') {
                            showPopup(
                                'Request re-import',
                                `
                                    <p>Are you sure you want to re-import your completion data from osu!?</p>
                                    <p>Note that this is likely unnecessary as we update profiles from their recent scores minutely. You should only re-import if you suspect that your stats are inaccurate.</p>
                                    <p>If you continue, you'll be queued for import, which will take from 15 minutes to several hours, depending on the number of people ahead of you and how many unique maps you've passed.</p>
                                `,
                                [
                                    {
                                        label: 'Nevermind',
                                        class: 'primary'
                                    },
                                    {
                                        label: 'Continue',
                                        href: '/u/<%= user.id %>/update',
                                    }
                                ]
                            );
                        } else {
                            showPopup(
                                'Too soon to re-import',
                                `
                                    <p>Your profile was imported recently and can't be imported again for <strong><%= user.updateStatus.timeUntilNextImport %></strong>.</p>
                                    <p>Note that re-importing is likely unnecessary as we update profiles from their recent scores minutely. You should only re-import if you suspect that your stats are inaccurate.</p>
                                `,
                                [
                                    {
                                        label: 'Got it!',
                                        class: 'primary'
                                    }
                                ]
                            );
                        }
                    });
                </script>
                <% } %>
            </div>
        </div>
        <div class="basics">
            <img src="<%= user.avatar_url %>" class="avatar">
            <div class="text">
                <div class="name"><%= user.name %></div>
                <div class="flags">
                    <div class="country">
                        <img src="<%= user.country.flag_url %>" class="flag">
                        <span class="label"><%= user.country.name %></span>
                    </div>
                    <% if (user.team.id) { %>
                    <div class="team">
                        <img src="<%= user.team.flag_url %>" class="flag">
                        <span class="label"><%= user.team.name %></span>
                    </div>
                    <% } %>
                </div>
            </div>
            <div class="stats">
                <div class="stat big">
                    <div class="key">global rank</div>
                    <div class="value">#<%= user.stats.rank == -1 ? '-' : user.stats.rank %></div>
                </div>
                <div class="stat big">
                    <div class="key">completion xp</div>
                    <div class="value"><%= user.stats.xp.toLocaleString() %></div>
                </div>
                <div class="stat big">
                    <div class="key">% completed</div>
                    <div class="value"><%= user.stats.percentage_completed.toFixed(2) %>%</div>
                </div>
            </div>
        </div>
        <div class="card lighter progress">
            <div class="flex col gap-16 flex-grow">
                <div class="top">
                    <span class="header">completion progress</span>
                </div>
                <div style="height: 100px">
                    <canvas id="progressGraph"></canvas>
                    <script>
                        window.addEventListener('load', () => {
                            // Prepare data
                            const data = JSON.parse('<%- JSON.stringify(user.historyDaily) %>');
                            const datapointNow = {
                                date: 'now',
                                percentage_completed: '<%= user.stats.percentage_completed %>'
                            };
                            data.push(datapointNow);
                            if (data.length < 2) {
                                data.push(datapointNow);
                            }
                            // Get context and create chart
                            const ctx = document.getElementById('progressGraph').getContext('2d');
                            const gradient = ctx.createLinearGradient(0, 0, 0, 100);
                            gradient.addColorStop(0, 'hsla(150, 90%, 60%, 20%)');
                            gradient.addColorStop(1, 'hsla(150, 90%, 60%, 0%)');
                            const chart = new Chart(ctx, {
                                type: 'line',
                                data: {
                                    labels: data.map(entry => entry.date),
                                    datasets: [{
                                        data: data.map(entry => entry.percentage_completed),
                                        backgroundColor: gradient,
                                        borderColor: 'hsl(150, 90%, 60%)',
                                        borderWidth: 2,
                                        pointRadius: 0,
                                        fill: true,
                                        tension: 0.3
                                    }]
                                },
                                options: {
                                    responsive: true,
                                    maintainAspectRatio: false,
                                    plugins: {
                                        legend: {
                                            display: false
                                        },
                                        tooltip: {
                                            mode: 'index',
                                            intersect: false,
                                            displayColors: false,
                                            cornerRadius: 8,
                                            padding: 8,
                                            titleMarginBottom: 2,
                                            backgroundColor: 'hsl(220, 20%, 10%)',
                                            titleFont: {
                                                size: 12,
                                                weight: 600,
                                                family: 'Torus'
                                            },
                                            bodyFont: {
                                                size: 16,
                                                weight: 'normal',
                                                family: 'Torus'
                                            },
                                            titleColor: `hsl(220, 20%, 65%)`,
                                            bodyColor: `hsl(220, 20%, 90%)`,
                                            callbacks: {
                                                label: context => `${context.parsed.y.toFixed(4)}% completed`,
                                                title: context => `${context[0].label}`
                                            }
                                        }
                                    },
                                    scales: {
                                        x: { display: false },
                                        y: { display: false }
                                    },
                                    layout: {
                                        padding: 0
                                    }
                                }
                            });
                        });
                    </script>
                </div>
                <div class="flex flex-wrap" style="gap: 16px 64px">
                    <div class="stats flex-grow">
                        <div class="stat">
                            <div class="key">maps completed</div>
                            <div class="value"><%= user.stats.count_completed.toLocaleString() %></div>
                        </div>
                        <div class="stat">
                            <div class="key">maps remaining</div>
                            <div class="value">
                                <%= (user.stats.count_total - user.stats.count_completed).toLocaleString() %>
                            </div>
                        </div>
                        <div class="stat">
                            <div class="key">cxp remaining</div>
                            <div class="value"><%= user.stats.xp_remaining.toLocaleString() %></div>
                        </div>
                        <div class="stat">
                            <div class="key">nomod playtime remaining</div>
                            <div class="value"><%= user.stats.timeRemaining %></div>
                        </div>
                    </div>
                    <div class="stats">
                        <div class="stat">
                            <div class="key">total maps</div>
                            <div class="value"><%= user.stats.count_total.toLocaleString() %></div>
                        </div>
                        <div class="stat">
                            <div class="key">total obtainable cxp</div>
                            <div class="value"><%= user.stats.xp_total.toLocaleString() %></div>
                        </div>
                        <div class="stat">
                            <div class="key">total nomod duration</div>
                            <div class="value"><%= user.stats.timeTotal %></div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <span class="header">completion by year</span>
            </div>
            <div class="flex col gap-8">
                <div class="btnGroup">
                    <a href="/u/<%= user.id %>/<%= category %>?yearly_type=maps"
                        class="btn <%= user.yearlyType == 'maps' ? 'primary' : '' %> small">
                        <span class="label">map count</span>
                    </a>
                    <a href="/u/<%= user.id %>/<%= category %>?yearly_type=xp"
                        class="btn <%= user.yearlyType == 'xp' ? 'primary' : '' %> small">
                        <span class="label">cxp</span>
                    </a>
                </div>
                <div class="yearly">
                    <% for (const yearData of user.yearly) { %>
                    <%- include('../partials/yearlyStatsEntry', { ...yearData, yearlyType: user.yearlyType }) %>
                    <% } %>
                </div>
            </div>
        </div>
        <% if (user.recommended) { %>
        <div class="card lighter recommended">
            <div>
                <span class="header">what to play next</span>
            </div>
            <div class="beatmapCardContainer">
                <% if (user.recommended.length === 0) { %>
                <div class="empty">
                    <p>Either no recommendations could be made or you've passed all maps in this category.</p>
                </div>
                <% } %>
                <% for (const beatmap of user.recommended) { %>
                <%- include('../partials/beatmapCard', { beatmap }) %>
                <% } %>
            </div>
            <div class="flex col gap-8">
                <div class="flex justify-center">
                    <a href="/recommended/<%= category %>?q=<%- encodeURIComponent(user.recommendedQuery) %>"
                        class="btn primary">
                        <span class="icon filled">cards_star</span>
                        <span class="label">More like this in play next...</span>
                    </a>
                </div>
                <div class="flex gap-8 justify-center flex-wrap">
                    <a href="/recommended/<%= category %>/surprise?dest=direct&q=<%- encodeURIComponent(user.recommendedQuery) %>"
                        class="btn text accent small">
                        <span class="icon filled">casino</span>
                        <span class="label">Pick for me (osu!direct)</span>
                    </a>
                    <a target="_blank"
                        href="/recommended/<%= category %>/surprise?dest=osu&q=<%- encodeURIComponent(user.recommendedQuery) %>"
                        class="btn text small">
                        <span class="icon filled">casino</span>
                        <span class="label">Pick for me (osu!web)</span>
                    </a>
                </div>
            </div>
        </div>
        <% } %>
        <div class="card lighter passes">
            <div>
                <span class="header">recent passes (<%= user.recentPasses.length.toLocaleString() %>)</span>
            </div>
            <div class="beatmapNarrowContainer">
                <% if (user.recentPasses.length === 0) { %>
                <div class="empty">
                    <p>No new passes in the past 24 hours (or since import)</p>
                </div>
                <% } %>
                <% for (const pass of user.recentPasses) { %>
                <%- include('../partials/beatmapNarrow', { beatmap: pass.beatmap, time: `Passed ${pass.timeSincePass}` }) %>
                <% } %>
            </div>
        </div>
    </div>
</div>