<link rel="stylesheet" href="/assets/css/search.css">
<div id="search" class="card flex col gap-8">
    <form class="flex gap-8">
        <div class="textbox medium hasIcon flex-grow">
            <span class="icon">search</span>
            <input type="text" name="q" id="inputQuery" class="input" placeholder="Search tracked players and maps..."
                value="<%= query %>">
        </div>
        <button type="submit" class="btn primary medium" id="searchSubmit">Go</button>
        <script>
            const inputQuery = document.querySelector('#inputQuery');
            // Focus input
            inputQuery.focus();
            // Move cursor to the end
            inputQuery.selectionStart = inputQuery.selectionEnd = inputQuery.value.length;
        </script>
    </form>
    <div class="results card lighter flex col gap-16">
        <div>
            <span class="header">Players (<%= user_results.total_matches.toLocaleString() %>)</span>
        </div>
        <% if (user_results.total_matches) { %>
        <div class="users userCardContainer">
            <% for (const user of user_results.users) { %>
            <%- include('../partials/userCard', { user }) %>
            <% } %>
        </div>
        <% } else { %>
        <div class="users empty">No tracked players matched your search.</div>
        <% } %>
        <div>
            <span class="header">Beatmaps (<%= map_results.total_matches.toLocaleString() %>)</span>
        </div>
        <% if (map_results.total_matches) { %>
        <div class="maps beatmapCardContainer">
            <% for (const beatmap of map_results.beatmaps) { %>
            <%- include('../partials/beatmapCard', { beatmap }) %>
            <% } %>
        </div>
        <% } else { %>
        <div class="maps empty">No beatmaps matched your search.</div>
        <% } %>
    </div>
</div>